---
import "./style.css";
---

<script src="./script.js"></script>
<!-- Store the message prop as a data attribute. -->
<section id="areas-content">
    <h1>Areas</h1>
    <ul class="areas">
        <li class="area-item">Realidad Virtual (VR) y Realidad Aumentada (AR)</li>
        <li class="area-item">Ciberseguridad</li>
        <li class="area-item">Desarrollo Web y Móvil</li>
        <li class="area-item">Inteligencia Artificial</li>
        <li class="area-item">Big Data y Análisis de Datos</li>
        <li class="area-item">Blockchain y Criptomonedas</li>
        <li class="area-item">Robótica y Automatización</li>
    </ul>
</section>
