---
import "./style.css";
---

<script src="./script.js"></script>
<!-- Store the message prop as a data attribute. -->
<section class="scroll-nav">
    <scrollbar-button data-id="1">
        <a href="#home-body" role="button">
            <button class="scroll-nav-item" id="scroll-nav-item-1"></button>
        </a>
    </scrollbar-button>

    <scrollbar-button data-id="2">
        <a href="#vision">
            <button class="scroll-nav-item" id="scroll-nav-item-2"></button>
        </a>
    </scrollbar-button>
    <scrollbar-button data-id="3">
        <a href="#pre-registro">
            <button class="scroll-nav-item" id="scroll-nav-item-3"></button>
        </a>
    </scrollbar-button>
</section>
