---
import "./styles.css";
import Vision_molecule from "../../molecules/vision/Vision.astro"
import Areas_molecule from "../../molecules/areas/Areas.astro"
---

<script src="./script.js"></script>

<div class="vision" id="vision">
    <Vision_molecule></Vision_molecule>
    <div id="vision-spacer"></div>
    <Areas_molecule></Areas_molecule>
</div>


