#vision-content {
    
    margin: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

@media (max-width: 1280px) {
    #vision-content {
        flex-direction: column;
    }
}

@media (max-width: 720px) {
    #vision-content {
        margin: 0px;
        
    }
}