---
const message = "Hello world";
const secconds = 0;
---

<!-- Store the message prop as a data attribute. -->
<astro-greet data-message={message}>
    <button>Say message {}</button>
    <p>{secconds}</p>
</astro-greet>

<script>
    import { number } from "astro/zod";

    class AstroGreet extends HTMLElement {
        constructor() {
            super();

            let now = new Date().getTime();
            let endTime = new Date("December 25, 2023 00:00:00").getTime();
            let remaining = endTime - now;

            let days = Math.floor(remaining / (1000 * 60 * 60 * 24));
            let hours = Math.floor(
                (remaining % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60),
            );
            let minutes = Math.floor(
                (remaining % (1000 * 60 * 60)) / (1000 * 60),
            );
            let seconds = Math.floor((remaining % (1000 * 60)) / 1000);

            const remainingTime = {
                days,
                hours,
                minutes,
                seconds,
            };

            this.dataset.secconds = String(seconds);
            const button = this.querySelector("button");
            if (button) {
                button.addEventListener("click", () => {
                    alert(seconds);
                });
            }
        }
    }

    customElements.define("astro-greet", AstroGreet);
</script>
