---
import "./styles.css";

import ExpositorCard from "../../molecules/expositor_card/ExpositorCard.astro";

import ConferenceCard from "../../molecules/conference_card/ConferenceCard.astro";

import { type ConferenceModel } from "../../../models/conference";

const conferences: ConferenceModel[] = [
    {
        start: "9:00 AM",
        end: "10:00 AM",
        title: "Introduction to TypeScript",
        description:
            "A comprehensive introduction to TypeScript programming language.",
        name_speaker: "John Doe",
        img_speaker: "john_doe.jpg",
        tags: ["Software", "Flutter"],
    },
    {
        start: "9:00 AM",
        end: "10:00 AM",
        title: "Introduction to TypeScript",
        description:
            "A comprehensive introduction to TypeScript programming language.",
        name_speaker: "John Doe",
        img_speaker: "john_doe.jpg",
        tags: ["Software", "Flutter"],
    },
    {
        start: "9:00 AM",
        end: "10:00 AM",
        title: "Introduction to TypeScript",
        description:
            "A comprehensive introduction to TypeScript programming language.",
        name_speaker: "John Doe",
        img_speaker: "john_doe.jpg",
        tags: ["Software", "Flutter"],
    },
    {
        start: "9:00 AM",
        end: "10:00 AM",
        title: "Introduction to TypeScript",
        description:
            "A comprehensive introduction to TypeScript programming language.",
        name_speaker: "John Doe",
        img_speaker: "john_doe.jpg",
        tags: ["Software", "Flutter"],
    },    {
        start: "9:00 AM",
        end: "10:00 AM",
        title: "Introduction to TypeScript",
        description:
            "A comprehensive introduction to TypeScript programming language.",
        name_speaker: "John Doe",
        img_speaker: "john_doe.jpg",
        tags: ["Software", "Flutter"],
    },
    {
        start: "9:00 AM",
        end: "10:00 AM",
        title: "Introduction to TypeScript",
        description:
            "A comprehensive introduction to TypeScript programming language.",
        name_speaker: "John Doe",
        img_speaker: "john_doe.jpg",
        tags: ["Software", "Flutter"],
    },
];
---

<script src="./script.js"></script>

<div class="preregistro" id="expositors">
    <h1>Expositores</h1>
    <div class="slider-expositors">
        {conferences.map((conference) => <div class="item-expositor"><ExpositorCard conference={conference}></ExpositorCard></div></p>)}
        <div class="center-button">
            <button class="nav-buttons" id="prev-expositors">&lt;</button>
            <button class="nav-buttons" id="next-expositors">></button>
        </div>
    </div>
    <h1>Agenda</h1>
    <div class="slider-schedule">
        {conferences.map((conference) => <div class="item-schedule"><ConferenceCard conference={conference}></ConferenceCard></div></p>)}
        <div class="center-button">
            <button class="nav-buttons" id="prev-schedule">&lt;</button>
            <button class="nav-buttons" id="next-schedule">></button>
        </div>
    </div>
</div>
<div id="spacer-schedule">
</div>

