.slider-expositors, .slider-schedule{
    position: relative;
    height: 370px;
}


.item-expositor, .item-schedule {
    position: absolute;

    text-align: justify;
    border-radius: 10px;
    padding: 20px;
    transition: 0.5s;
    left: calc(50% - 110px);
    top: 0;
}

.nav-buttons {
    position: absolute;
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: xxx-large;
    font-family: monospace;
    font-weight: bold;
}

#next-expositors, #prev-expositors, #next-schedule, #prev-schedule {
    position: relative;
}

.center-button {
    padding-top: 320px;
    text-align: center;
}


@media (max-width: 1200px) {
    .slider-expositors, .slider-schedule{
        overflow: hidden;
    }
}