---
import CountDownItem from "./CountDownItem.astro";
const { remainingTime } = Astro.props;
---
<div class="countdown">
  <CountDownItem num={remainingTime.days} type="days" />
  <CountDownItem num={remainingTime.hours} type="horas" />
  <CountDownItem num={remainingTime.minutes} type="minutos" />
  <CountDownItem num={remainingTime.seconds} type="segundos" /> 
</div>

<style>
  .countdown {
    display: flex;  
  }
  
  .countdown-item {
    margin-right: 10px;
  }
</style>
