---
interface Props {
    id: string; // horas | minutos | dias | ...
}

const { id } = Astro.props;
---

<link
    href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap"
    rel="stylesheet"
/>

<div class="item">
    <span id={id} class="value">
        <slot id="value" />
    </span>
    <p class="down-text">{id}</p>
</div>

<style>
    .value {
        font-size: 4em;
        font-family: "JetBrains Mono", monospace;
    }
    .item{
        width: 10em;
        text-align: center;
    }

    .down-text{
        text-align: center;
    }
</style>
