---
interface Props {
	lable: string;
	href: string;
	info: string;
	position: string;
}

const { href, lable, info, position } = Astro.props;

const card_class = "link-card " + position;
---

<link
	href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap"
	rel="stylesheet"
/>

<li class={card_class}>
	<a href={href}>
		<h2>
			{lable}
		</h2>
	</a>
</li>

<style>
	.link-card {
		position: fixed;
		width: 300px;
		text-align: center;
		list-style: none;
		display: flex;
		padding: 1px;
		background-color: transparent;
		opacity: 0.8;
		border-radius: 2px;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
		border: 0.1px groove white;
	}
	.link-card > a {
		width: 100%;
		text-decoration: none;
		line-height: 1;
		padding: calc(1rem - 1px);
		border-radius: 3px;
		color: white;
		opacity: 0.8;
		font-family: "JetBrains Mono", monospace;
		font-weight: 600;
	}
	h2 {
		margin: 0;
		font-size: 1.25rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}
	.link-card:is(:hover, :focus-within) {
		background-position: 0;
		border: 2px solid #a37097;
	}
	.link-card:is(:hover, :focus-within) h2 {
		color: rgb(var(--accent-light));
	}

	.top-left {
		top: 5vh;
		left: 5vh;
	}

	.top-right {
		top: 5vh;
		right: 5vh;
	}

	.bottom-left {
		bottom: 5vh;
		left: 5vh;
	}

	.bottom-right {
		bottom: 5vh;
		right: 5vh;
	}

	.bottom-center {
		position: fixed;
		bottom: 5vh;
		left: 50%;
		transform: translateX(-50%);
	}
</style>
