---
import "./styles.css";
---
<script src="./script.js"></script>
<section class="home-body" id="home-body">
    <img src="/unicon.png" alt="Unicon" />
    <p class="text">
        Networking with Passion: Collaborate with Tech Enthusiasts and
        Innovators
    </p>
    <div id="countdown"></div>
</section>

