---
import "./styles.css";
---
<script src="./script.js"></script>
<section class="home-body" id="home-body">
    <img src="/unicon.png" alt="Unicon" />
    <p class="text">
        Establecer contactos con pasión: colaborar con innovadores y entusiastas de la tecnología
    </p>
    <div id="countdown"></div>
</section>

