.home-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    /* Para centrar el texto horizontalmente */
    flex-direction: column;

    /* Asegura que la posición de los elementos internos se ajuste correctamente */
}

#countdown {
    font-size: 3em;
}

/* Para dispositivos móviles */
@media (max-width: 768px) {
    .home-body img {
        width: 100%;
        /* La imagen ocupa todo el ancho de la sección en dispositivos móviles */
    }

    .home-body {
        width: 90%;
        height: 100vh;
    }

    #countdown {
        font-size: 1.5em;
    }
}

/* Para otros dispositivos */
@media (min-width: 769px) {
    .home-body img {
        width: 80%;
        /* La imagen ocupa el 80% del ancho de la sección en otros dispositivos */
    }
}

.home-body img {
    max-width: 100%;
    /* Asegura que la imagen no se extienda más allá de su contenedor */
    width: 100%;
    /* Establece el ancho inicial al 100% */
}

@media (min-width: 1200px) {
    .home-body img {
        width: 50vw;
        /* Establece el ancho al 60% del ancho de la ventana si el ancho original es mayor a 1200px */
    }


}