---
import { type ConferenceModel } from "../../../models/conference";
import "./styles.css";

interface Props {
    conference: ConferenceModel;
}

const { conference } = Astro.props;
---

<script src="./script.ts"></script>
<!-- Store the message prop as a data attribute. -->
<article class="conference-card">
    <p class="start-conference">{conference.start}</p>
    <p class="title-conference">{conference.title}</p>
    <p class="description-conference">{conference.description}</p>
</article>
