.conference-card {
    height: 250px;
    width: 400px;
    position: relative;
    background-color: rgba(179, 83, 211, 0.264);
    padding: 10px;
    border-radius: 8px;
}

.start-conference {
    font-size: 2em;
    font-weight: 800;
}

.title-conference {
    font-size: 1.3em;
    font-weight: 800;
}

.description-conference {
    font-size: 1em;
}