---
import "./style.css";
interface Props {
    label: string;
}

const { label } = Astro.props;
---

<script src="./script.js"></script>
<!-- Store the message prop as a data attribute. -->
<astro-greet data-message={label}>
    <a class="auth-button" href="#pre-registro">{label}</a>
</astro-greet>

<a href="#pre-registro"
    ><div class="fab">
        <img src="/register.png" alt="Icono" />
    </div></a
>
