.auth-button {
    position: fixed;
    /* Se fija en la ventana del navegador */
    top: 30px;
    /* Distancia desde la parte superior */
    right: 30px;
    background-color: var(--backgroundColor);
    color: var(--foregroundColor);
    font-family: "JetBrains Mono";
    font-size: 25px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: transform 0.3s;
    text-decoration: none;
}

.auth-button:hover {
    transform: scale(1.1);
}