---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
			integrity="sha384-F5mDE5e6tGK7itOzPz7ZMyTsrBROINfNKSTvsRsdJwXClJh8VzFVv5ByxigDzqG+"
			crossorigin="anonymous"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<video autoplay muted loop id="video-bg">
			<source src="/output.mp4" type="video/mp4" />
			Tu navegador no soporta videos HTML5.
		</video>

		<div class="background-opacity">
			<slot />
		</div>
	</body>
</html>
<style is:global>
	:root {
		font-family: "JetBrains Mono";
		color: white;
	}
	html {
		background-size: 224px;
	}

	body {
		/* background-image: url("/background.gif"); */
		background-image: url("/background.gif");
		/* Reemplaza 'ruta/de/la/imagen.jpg' con la ruta de tu imagen */
		background-repeat: repeat;
		/* Evita que la imagen se repita */
		background-attachment: fixed;

		color: white;
	}
</style>

<style>
	.background-opacity {
		position: absolute;
		background-color: rgba(0, 0, 0, 0.7);
		left: 0px;
		top: 0px;
		right: 0px;
	}

	#video-bg {
		position: fixed;
		left: 0;
		top: 0;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		background-size: cover;
	}
</style>
